*.runs/
*.sims/
*.hwld / implementation outputs
*.runs/
*.sim/
*.hw/
*.ip_user_files/
*.cache/
*.Xil/
*.jou
*.log

!*.xpr
*.data/
!*.srcs/
*.gen/

*.dcp
*.bit
*.bin
*.mmi
*.ltx

*.wdb
*.wcfg
*.vcd
*.vpd
*.wlf

*.str
*.pb
*.zip
*.tar.gz
*.tmp
*.bak

*.swp
*.swo
